<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00b1661ff0.js" crossorigin="anonymous"></script>
    <title>admindashboard</title>
<style>
        .bg-container{
            background-image: url('https://www.shutterstock.com/image-vector/photo-image-sharing-online-picture-260nw-1735948637.jpg');
            /* background-image: url('https://i.pinimg.com/564x/66/2f/94/662f94f29bfc47493d3efe2fde8ff927.jpg'); */
            background-repeat: no-repeat;
            background-size: cover;

        }
    </style> 
</head>
<body class="bg-container">
    
    <section class="vh-100" style="background-color: #eee;">
    <div class="container-fluid">
         <div class="row d-flex border bg-light  justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                  <div class="card-body">
                    <div class="row justify-content-center">
            <div class="col-lg-6 vh-100 bg-black d-flex align-items-center order-1 order-lg-2">
            <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
            <div class="mb-3">
            <input type="file" name='image'>
            <label>image</label>
        </div>
            <button>submit</button>
            </form>
    </div><!--container div-->
    
    </div></div></div></div></div></div></div>

    </section>
</body>
</html>

